---
:source:
  icinga:
    :mappings:
      hostalias: host_name
      servicedisplayname: service
      servicestate: status
      hostgroupnames: group
    :groups:
      :exclusions:
      - generic
:rules:
- select * from AlarmEvent where status = "CRITICAL"
- select * from AlarmEvent where status = "FOOBEAR"
